
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.addTask {
  width: 100%;
  padding: 20px;
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  /* flex-grow: 1; */
}

.addTask button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
}

.list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task h1 {
  margin: 0;
  flex-grow: 1;
}

.task button {
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: #e74c3c;
  color: #fff;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .addTask {
    padding: 10px;
  }

  .addTask input {
    margin-bottom: 5px;
  }

  .task {
    padding: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;
}