/*Styles for the Mike text */
.name {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #fff;
  background: linear-gradient(135deg, rgba(33, 150, 243, 0.7), rgba(0, 188, 212, 0.7));
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  float: left;
}

/* Styles for the Implementing CSS in React text with a fire glass effect */
.title-1 {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #5b5b5bde;
  background: rgba(249, 250, 254, 0.09);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 4px solid rgba(249, 250, 254, 0.31);
}

/* Hover effect for pure glass */
.title-1:hover {
  background: rgba(247, 247, 249, 0.49);
  color: #0970b4de;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(64, 64, 64, 0.1);
  backdrop-filter: blur(1.0px);
  -webkit-backdrop-filter: blur(1.0px);
  border: 3px solid rgba(255, 255, 255, 0.19);
}

/* Style for the input container */
.inpt {
  position: relative;
  displex: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.inpt input {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 5px;
}

.mirror {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: "Courier New", monospace;
  font-size: 30px;
  font-weight: bold;
  /* background-color: rgb(37, 37, 37); */
  border: 0.5rem solid rgb(110, 110, 109);
  color: #000;
  padding: 10px;
  border-radius: 1rem;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  /* transform: scaleY(-1); */
}

/*Change Color Sample */

.App {
  color: #fff;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button: hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Extra styles for demo */
/* Article: https://superdevresources.com/glassmorphism-ui.css */
body {
  background: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee")
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.glass-panel {
  max-width: 600px;
}

.glass-button {
  margin: 15px;
  margin-top: 40px;
}

h1,
h1 a {
  min-height: 120px;
  width: 90%;
  max-width: 700px;
  vertical-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  padding-top: 60px;
  color: rgba(255, 255, 255, 0.8);
}

p {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 32px;
  color: rgba(255, 255, 255, 0.6);
}