/*Styles for the Mike text */
.name {
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #fff;
  background: linear-gradient(135deg, rgba(33, 150, 243, 0.7), rgba(0, 188, 212, 0.7));
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  float: left;

}